{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'hello_world/read.css' %}"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">    
        <title>Saw X</title>
    </head>

    <body>
        <div class="topnav">
            <a class="active" href="http://127.0.0.1:8000/">Home</a>
            <a href="http://127.0.0.1:8000/info/">Info</a>
            <a href="http://127.0.0.1:8000/search/#">Category</a>
          </div>
        <h1 class="movie">Saw X</h1><br>

    <a class="text">
            แนว: 
            <a class="text" href="http://127.0.0.1:8000/horror/">Horror,</a>
            <a class="text" href="http://127.0.0.1:8000/mystery/">Mystery,</a>
            <a class="text" href="http://127.0.0.1:8000/thriller/">Thriller</a>
     </a><br>
    <a class="text">
        สวัสดีท่านผู้อ่านทุกท่าน  ยินดีต้อนรับเข้าสู่การรีวิวหนังเรื่อง Saw X ใครที่หมดศรัทธาในความยุติธรรมหรือกฏหมายที่ไม่สามารถเอาคนผิดได้ 
        พวกเราขอเชิญคุณเข้าสู่จักรวาลของ JigSaw John Kramer ที่จะนำความเป็นธรรมกลับคืนในแบบตัวเขาเองและส่วนหนึ่งของ John Kramer 
        (ความยุติธรรม) "เราจะเป็นกระบอกเสียงให้กับคนตาม" โดยขอย้ำเตือนว่าการรีวิวนี้เป็นมุมมองส่วนตัวของผู้เขียน 
        ซึ่งอาจจะถูกใจหรือไม่ถูกใจท่านไหนทางผู้เขียนต้องกราบขออภัยทุกท่านมา ณ ที่นี้ด้วย หากทุกท่านพร้อมแล้วที่จะอ่านรีวิวของเรา 
        เชิญทุกท่านเลื่อนลงไปอ่านที่ด้านล่างนี้ได้เลยครับ 
    </a>
    <center><img src="{% static 'hello_world/picture/sawx.jpg' %}"></center><br>
    <a class="text">ผู้กำกับ: Kevin Greutert</a><br>
    <a class="text">นักเขียน: Pete Goldfinger ,Josh Stolberg</a><br>
    <a class="text">นักแสดงนำ: Tobin Bell ,Shawnee Smith ,Synnøve Macody Lund ,Steven Brand, Michael Beach</a><br>
    <a class="text">เรื่องย่อ</a> 
    <p>
        ชาย
    </p>
    <a class="text">ความรู้สึกหลังดู</a>
    <p> 
        - การกลับมาของ John Kramer กับภาคต่อที่เร้าใจที่สุดของแฟรนไชส์ SAW และยังได้สำรวจบทของเกมที่เป็นส่วนตัวที่สุดของ Saw ที่ไม่เคยมีใครเคยเล่ามาก่อน โดยพลิกสถานการณ์ให้กับพวกนักต้มตุ๋นด้วยวิถีทางอันเป็นเอกลักษณ์เฉพาะตัวของเขาผ่านกับดักอันชาญฉลาดและน่าสะพรึงกลัว<br>
        - ภาคนี้ได้เห็นมุมมองของ John Kramer ในอีกแบบ เขาต้องเพชิญกับเนื้องอกในสมองยังต้องการที่จะมีชีวิตอยู่ต่อไป แต่ดันโดนพวกนักต้มตุ๋นหลอกลวงและสิ่งที่ John จะทำต่อไป คือ ให้ความอิสระภาพแก่นักต้มตุ๋นพวกนั้น<br>
        - John Kramer ยังเป็นคนแบบนี้เสมอ คือ เขาชอบเอาตัวเองอยู่ในเกมที่เขาสร้างไว้ และนี้จะเป็นภาคแรกที่ไม่เป็นไปตามแผนที่วางไว้<br>
        - ถ้าใครเป็นแฟนตัวยงของ Saw แค่พามาครึ่งเรื่องก็สามารถเดาเหตุการณ์นับจากนี้ได้ต่อไปได้ว่าจะเกิดอะไรขึ้นต่อจากนี้<br>
        - ภาคนี้ยังมีส่วนช่วยให้เหตุผลของ Amanda Young ดูมีน้ำหนักขึ้นมาทันที พร้อมกับความลังเลในใจที่มีต่ออุดมการณ์ของ John Kramer<br> 
        - เครื่องมือทรมานบางอัน ชวนให้นึกถึง Saw ทุกภาคที่พามาโดยเฉพาะ ภาค Saw I พวกที่เกี่ยวกับขา และฉากไคลแม็กซ์เป็นอะไรที่กินใจสุดๆ ไปเลย<br>
        - Kevin Greutert เคยบอกว่า ตอนที่กำลังตัดหนังอยู่ก็มีตำรวจมาบ้านเขา เพราะ เพื่อนบ้านได้ยินเสียงคนถูกทรมานอยู่ในชั้นใต้ดิน หลังจากที่ Kevin บอกว่าเป็นแค่หนังและก็จบลงด้วยดี มันเสริมความการันตีคุณภาพของหนังได้เป็นอย่าง นักแสดงทุกคนเล่นได้ถึงบทบาทมาก<br>
        - สิ่งที่ทำให้ผมยังขนลุกกับภาพยนตร์เรื่องนี้ได้อยู่ คือ เพลง Intro ประจำตัวของ Saw<br>
    </pr>
    <a class="text">คะแนน 7.5/10</a><br>

    <p>
    <a class="text">
        ท้ายที่สุดแล้ว หนัง Saw X ก็ได้รับคำวิจารณ์หนังจากเว็บรีวิวหนังอย่างเป็นทางการได้เป็นอย่างมาก ถือว่าเป็นชุดหนังที่สนุกและสามารรถครองใจสาวกของ Saw 
        และอาจสามารถเรียกศรัทธาจากแฟนหนังได้ไม่มากก็น้อย ซึ่งสำหรับใครที่ยังไม่ได้รับชมหนังเรื่องนี้ สามารถไปหาตามรับชมกันได้ หวังว่าคงจะถูกใจทุกท่านน่ะครับ
    </a>
    </p>
    </body>
</html>
