{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'hello_world/read.css' %}"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">    
        <title>Mantra Warrior</title>
    </head>

    <body>
        <div class="topnav">
            <a class="active" href="http://127.0.0.1:8000/">Home</a>
            <a href="http://127.0.0.1:8000/info/">Info</a>
            <a href="http://127.0.0.1:8000/search/#">Category</a>
          </div>
        <h1 class="movie">นักรบมนตราตํานานแปลดวงจันทร์ (Mantra Warrior: The Legend of the Eight Moons)</h1><br>

    <a class="text">
            แนว: <a class="text" href="http://127.0.0.1:8000/action/">Action,</a>
            <a class="text" href="http://127.0.0.1:8000/fantasy/">Fantasy</a>
            <a class="text" href="http://127.0.0.1:8000/scifi/">Sci-Fi,</a>
     </a><br>
    <a class="text">
        สวัสดีท่านผู้อ่านทุกท่าน  ยินดีต้อนรับเข้าสู่การรีวิวหนังเรื่อง นักรบมนตราตํานานแปลดวงจันทร์ (Mantra Warrior: The Legend of the Eight Moons) 
        สิ้นสุดการรอคอยกับสงครามที่มี “จักรวาล” เป็นเดิมพัน ที่ทุกคนตั้งตารอ ภาพยนตร์แอ็กชัน-ไซไฟฟอร์มยักษ์สัญชาติไทยเรื่องแรกในประวัติศาสตร์ ผลงานการสร้างจาก RiFF Studio ผนึกกำลังกับ WARA.BY GDH และ Japan Anime Movie Thailand  โดยขอย้ำเตือนว่าการรีวิวนี้เป็นมุมมองส่วนตัวของผู้เขียน 
        ซึ่งอาจจะถูกใจหรือไม่ถูกใจท่านไหนทางผู้เขียนต้องกราบขออภัยทุกท่านมา ณ ที่นี้ด้วย หากทุกท่านพร้อมแล้วที่จะอ่านรีวิวของเรา 
        เชิญทุกท่านเลื่อนลงไปอ่านที่ด้านล่างนี้ได้เลยครับ 
    </a>
    <center><img src="{% static 'hello_world/picture/mantra.jpg' %}"></center><br>
    <a class="text">ผู้กำกับ: วีรภัทร ชินะนาวิน</a><br>
    <a class="text">นักเขียน: Pete Goldfinger ,Josh Stolberg</a><br>
    <a class="text">นักแสดงนำ: สรวิศ ตงเท่ง, พัฒน์เตชินท์ ศศิพัฒนธาดา ,นลินี ชีวะสาคร ,รุจิระ ขจีเจริญ ,ธนกฤต เจนคลองธรรม , มานพ ศรีจูเป้า, อภินันท์ ธีระนันทกุล, มนัสวิน มลิวงค์, ราณี แคมเปน</a><br>
    <a class="text">เรื่องย่อ</a> 
    <p>
        “นักรบมนตรา : ตำนานแปดดวงจันทร์” (Mantra Warrior : The legend of the eight moons) เป็นภาพยนตร์แอนิเมชันที่หยิบยกเรื่องราวบางส่วนของรามเกียรติ์มาตีความใหม่ทั้งหมด สไตล์อนิเมะหุ่นยนต์ตีกันข้ามจักรวาล โดยบอกเล่าถึงมหาศึกสงครามระหว่างกองทัพแห่งองค์ราม และ จักรพรรดิทศกัณฐ์ 
        ที่ต่อสู้กันมาอย่างยาวนานไม่รู้จักจบสิ้นในจักรวาลอีกห้วงมิติหนึ่งซึ่งในระหว่างที่สู้รบนั้น องค์รามได้เกิดพลาดท่าถูกทศกัณฐ์ลักพาตัวพระแม่สีดาขึ้นยานหนีไป เพราะตามตำนานได้กล่าวไว้ว่าในทุกๆ 500 ปี พลังแห่งเทพที่สามารถสร้างหรือทำลายทุกสรรพสิ่งในพริบตา จะตื่นขึ้นในร่างสตรีนางหนึ่ง และ 
        ทศกัณฐ์เชื่อว่าพลังอันยิ่งใหญ่ที่หลับใหลนี้อยู่ในตัวพระแม่สีดา ทำให้องค์รามต้องส่ง “วายุ” ,“เวฬา” และ “บุษบา” นักรบทั้งสามเพื่อออกติดตามนำตัวพระแม่สีดากลับคืนมา แต่ก็ถูกขัดขวางด้วยพละกำลังอันมหาศาลจากราชา “พาลี” แม่ทัพผู้แข็งแกร่งที่ไม่เคยพ่ายแพ้ในศึกสงคราม และหนทางเดียวที่จะชิงตัวพระแม่สีดากลับคืนมาและเอาชนะศึกสงครามระดับจักรวาลในครั้งนี้ได้ คือต้องรอคอยนักรบในตำนานที่ถูกเรียกขานว่า นักรบมนตรา ที่จะถือกำเนิดในห้วงเวลาที่เกิดปรากฏการณ์ดวงจันทร์ทั้งแปดแห่งดาววานาราเรียงตัวกันเท่านั้น! แต่ใครจะเป็นผู้ถูกเลือกให้เป็นนักรบมนตราคนต่อไป? และถ้าพลังลึกลับที่หลับใหลของพระแม่สีดาถูกปลุกให้ตื่นขึ้น ทั้งจักรวาลจะมีชะตากรรมอย่างไร?
    </p>
    <a class="text">ความรู้สึกหลังดู</a>
    <p> 
        - ตัวอย่างของหนังทำออกมาได้น่าสนใจ แต่พอมาดูตัวเต็มกลับกลายเป็นว่าไม่มีอะไรให้อิมแพคมากเท่าไร นอกจากฉากต่อสู้ระหว่าง 2 ฝ่ายที่ดุเดือด<br>
        - เป็นอนิเมชั่นที่ถูกตั้งความหวังไว้สูงมากของวงการอนิเมะไทย ที่นำวรรณคดีรามเกียรติ์ ทำเป็น แอ็กชัน-ไซไฟ ให้ทันสมัยมาก<br>
        - บทตัวละครมีมิติ มีความคิดและเหตุผลในการกระทำ ส่วนบทพระแม่สีดาเป็นตัวละครที่น่ารำคาญเหมือนกำลังดูละครหลังข่าวอยู่ แถมยังเป็นผิวที่แสบตามาก<br>
        - การดีไซน์เครื่องแต่งกายและหุ่นยนต์รบ เอาใจแฟนๆ กันดั้มกันมากๆ โดยเฉพาะชุดเกราะของทศกัณฐ์และน้ำเสียงรู้สึกขนลุกสู้ ดูหน้าเกรงขามและน่ากลัวในเวลาเดียวกัน แต่ภายในชุดกลับเป็นหนุ่มเนิร์ด<br>
        - Cgi ฉากหลังยังไม่อะไรแตกต่างไปจาก 9 ศาสตรามากนะ ฉากตบตลกก็ออกมาแป้กและดูเหมือนพวกเขาอยากจะปูไปภาค 2 มากไปหน่อย<br>
    </pr>
    <a class="text">คะแนน 6/10</a><br>

    <p>
    <a class="text">
        ท้ายที่สุดแล้ว หนัง นักรบมนตราตํานานแปลดวงจันทร์ (Mantra Warrior: The Legend of the Eight Moons) ถือว่าเป็น animation และหนังของคนไทยอีกเรื่องที่น่าดูและน่าสนับสนุน เพื่อให้วงการหนังไทยเติบบโตขึ้นไปอีก
        ซึ่งสำหรับใครที่ยังไม่ได้รับชมหนังเรื่องนี้ สามารถไปหาตามรับชมกันได้ หวังว่าคงจะถูกใจทุกท่านน่ะครับ
    </a>
    </p>
    </body>
</html>
