{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'hello_world/search_results.css'%}"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">    
        <title>Category</title>
    </head>
<body>
    <div class="topnav">
        <a class="active" href="http://127.0.0.1:8000/">Home</a>
        <a href="http://127.0.0.1:8000/info/">Info</a>
        <a href="http://127.0.0.1:8000/search/#">Category</a>
      </div>

    <a class="text">
    <a href="http://127.0.0.1:8000/action" class="text">Action</a><br>
    <a href="http://127.0.0.1:8000/adventure" class="text">Adventure</a><br>
    <a href="http://127.0.0.1:8000/comedy" class="text">Comedy</a><br>
    <a href="http://127.0.0.1:8000/crime" class="text">Crime</a><br>
    <a href="http://127.0.0.1:8000/drama" class="text">Drama</a><br>
    <a href="http://127.0.0.1:8000/fantasy" class="text">Fantasy</a><br>
    <a href="http://127.0.0.1:8000/horror" class="text">Horror</a><br>
    <a href="http://127.0.0.1:8000/mystery" class="text">Mystery</a><br>
    <a href="http://127.0.0.1:8000/romance" class="text">Romance</a><br>
    <a href="http://127.0.0.1:8000/thriller" class="text">Thriller</a><br>
    <a href="http://127.0.0.1:8000/scifi" class="text">Scifi</a><br>
    <a href="http://127.0.0.1:8000/western" class="text">Western</a><br>
    
</body>
</html>