{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'hello_world/read.css' %}"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">    
        <title>10 หนัง/ซีรี่ย์สยองขวัญ</title>
    </head>

    <body>
        <div class="topnav">
            <a class="active" href="http://127.0.0.1:8000/">Home</a>
            <a href="http://127.0.0.1:8000/info/">Info</a>
            <a href="http://127.0.0.1:8000/search/#">Category</a>
          </div>
        <h1 class="movie">10 อันดับซีรีย์หนังสยองขวัญ</h1><br>
    <a class="text">
        สวัสดีท่านผู้อ่านทุกท่าน  ยินดีต้อนรับเข้าสู่ 10 หนัง/ซีรี่ย์สยองขวัญ ซึ่งสำหรับใครที่ชอบหนังแนวสยองขวัญแล้วต้องการจะหาหนังดีๆสักเรื่องดู 
        ลองอ่านที่บทความนี้ดู แต่ถ้าหากท่านใดที่เคยดูจนหมดแล้ว ก็หวังว่าท่านอาจเห็นด้วยกับการแนะนำของเรา 
        โดยขอย้ำเตือนว่าการแนะนำในครั้งนี้เป็นมุมมองส่วนตัวของผู้เขียน ซึ่งอาจจะถูกใจหรือไม่ถูกใจท่านไหนทางผู้เขียนต้องกราบขออภัยทุกท่านมา ณ ที่นี้ด้วย 
        หากทุกท่านพร้อมแล้วที่จะอ่านการแนะนำของเรา เชิญทุกท่านเลื่อนลงไปอ่านที่ด้านล่างนี้ได้เลยครับ 
    </a>
    <h1 class="detail">1) บ้านปีศาจ (The Fall Of The House Of Usher 2023)</h1>
    <center><img src="{% static 'hello_world/picture/สยอง1.jpg' %}"></center><br>
    <a class="text">เรื่องย่อ</a> 
    <p>
        ครอบครัวอัชเชอร์ไม่เคยห่างไกลจากความขัดแย้ง โชคชะตาของพี่น้อง Roderick และ Madeline Usher เกิดขึ้นจากบริษัท Fortunato Pharmaceuticals 
        ซึ่งเป็นบริษัทที่ผลิตภัณฑ์มักอยู่ภายใต้การตรวจสอบอย่างละเอียดเนื่องจากปัญหาด้านสุขภาพ ผู้ช่วยอัยการเขต ซี. ออกุสต์ ดูแปงตั้งใจแน่วแน่ที่จะพิพากษาลงโทษ 
        และคดีของเขาต่อฟอร์ทูนาโตและอัชเชอร์ได้เข้าสู่การพิจารณาคดีแล้ว ตอนนี้ ในระหว่างการพิจารณาคดี ลูกๆ ของร็อดเดอริกได้ตายไปทีละคนๆ ภายใต้สถานการณ์ลึกลับ 
        ร็อดเดอริกกับอัชเชอร์ว่าใครและอะไรอยู่เบื้องหลังการเสียชีวิต และความลับที่เปิดเผยข้อมูลทั้งหมด
    </p>
    <a class="text">คะแนน 8.1/10</a><br>

    <h1 class="detail">2) ฮิลล์เฮาส์ บ้านกระตุกวิญญาณ (The Haunting of Hill House 2018)</h1>
    <center><img src="{% static 'hello_world/picture/สยอง2.jpg' %}"></center><br>
    <a class="text">เรื่องย่อ</a> 
    <p>
        สำรวจไปกับกลุ่มพี่น้องที่ในวัยเด็กเติบโตขึ้นมาในสิ่งที่จะกลายเป็นบ้านผีสิงที่มีชื่อเสียงที่สุดในประเทศ ตอนนี้ทุกคนเป็นผู้ใหญ่หมดแล้ว และต้องกลับมารวมกันอีกครั้งเมื่อเผชิญกับโศกนาฏกรรม 
        ในที่สุดครอบครัวก็ต้องเผชิญหน้ากับผีในอดีต ซึ่งบางเรื่องก็ยังคงฝังใจอยู่ ในขณะที่คนอื่นๆ อาจจะกำลังสะกดรอยตามเงามืดของ Hill House อยู่
    </p>
    <a class="text">คะแนน 8.6/10</a><br>

    <h1 class="detail">3) บลายเมเนอร์ บ้านกระตุกวิญญาณ (The Haunting of Bly Manor 2020)</h1>
    <center><img src="{% static 'hello_world/picture/สยอง3.jpg' %}"></center><br>
    <a class="text">เรื่องย่อ</a> 
    <p>
        ผู้ปกครองของเด็กสาวคนหนึ่งได้รับการว่าจ้างจากผู้ชายคนหนึ่งให้ดูแลหลานสาวและหลานชายของเขาที่บ้านในชนบทของครอบครัว หลังจากที่พวกเขาตกอยู่ในความดูแลของเขา 
        ไม่นานหลังจากมาถึงที่คฤหาสน์บลาย เธอเริ่มพบกับเหตุการณ์แปลกๆ และประวัติศาสตร์อันเลวร้ายก็ได้เริ่มขึ้น
    </p>
    <a class="text">คะแนน 7.4/10</a><br>

    <h1 class="detail">4) โรงเรียนผีมีอยู่ว่า...(School Tales The Series 2022)</h1>
    <center><img src="{% static 'hello_world/picture/สยอง4.jpg' %}"></center><br>
    <a class="text">เรื่องย่อ</a> 
    <p>
        เรื่องราวการ์ตูนสยองขวัญแปดเรื่องได้รับการดัดแปลงเป็นซีรีส์ 8 ตอน ที่จะทำให้ทุกคนต้องออกจากโรงเรียนในตอนกลางคืน 7 โมงพืศวง แรงสาปแช่ง สวย นิทานอีศพ หัวครูวัยวรรณ 
        สูตรลับร้านป้าจง พรต้องสาปและเดินล่าท้าผี เตรียมเผชิญกับความกลัวรูปแบบใหม่ ในระหว่างวัน โรงเรียนเป็นของนักเรียน แต่ในเวลากลางคืนมันเป็นอีกเรื่องหนึ่ง
    </p>
    <a class="text">คะแนน 5.3/10</a><br>

    <h1 class="detail">5) ผีดิบคลั่ง บัลลังก์เดือด (Kingdom 2019)</h1>
    <center><img src="{% static 'hello_world/picture/สยอง5.jpg' %}"></center><br>
    <a class="text">เรื่องย่อ</a> 
    <p>
        ในสมัยโชซอน กษัตริย์ทรงป่วยด้วยไข้ทรพิษและมีข่าวลือแพร่สะพัดว่าพระองค์ได้สิ้นพระชนม์แล้ว ในขณะเดียวกัน มกุฎราชกุมารลีชางถูกตราหน้าว่าเป็นคนทรยศโดยตระกูล Haewon Cho 
        ซึ่งเป็นกลุ่มของราชินีที่กำลังตั้งครรภ์และบิดาของเธอ หัวหน้าสภาแห่งรัฐ Cho Hak Joo ในขณะที่พยายามเปิดเผยความลึกลับของสิ่งที่เกิดขึ้นกับพ่อของเขา มกุฏราชกุมารก็ไปกับผู้พิทักษ์ของเขา 
        มูยัง ไปที่ดงแนเพื่อตามหาแพทย์อีซึงฮุยที่ดูแลพ่อของเขา เพียงเพื่อติดอยู่กับผู้ช่วยแพทย์ซอบีและความลึกลับ ชายหนุ่มชินในหมู่บ้านที่เต็มไปด้วยโรคลึกลับ
    </p>
    <a class="text">คะแนน 8.3/10</a><br>

    <h1 class="detail">6) กีเยร์โม เดล โตโร ตู้ลับสุดหลอน (GUILLERMO DEL TORO’S CABINET OF CURIOSITIES 2022)</h1>
    <center><img src="{% static 'hello_world/picture/สยอง6.jpg' %}"></center><br>
    <a class="text">เรื่องย่อ</a> 
    <p>
        นี้จะเป็นการคัดสรรผลงาน 8 เรื่องที่ไม่เคยมีมาก่อนและ เรื่องราวที่น่ากลัวซึ่งกำหนดประเภทไว้หมายถึงการท้าทายแนวคิดดั้งเดิมเกี่ยวกับความสยองขวัญ ตั้งแต่เรื่องน่าสยดสยองไปจนถึงเรื่องมหัศจรรย์ 
        โกธิคไปจนถึงเรื่องพิสดารหรือน่าขนลุกแบบคลาสสิก นิทานสองในแปดเรื่องเป็นผลงานต้นฉบับของเดล โตโร
    </p>
    <a class="text">คะแนน 7/10</a><br>

    <h1 class="detail">7) แบล็ก มิร์เรอร์ (Black Mirror 2011)</h1>
    <center><img src="{% static 'hello_world/picture/สยอง7.jpg' %}"></center><br>
    <a class="text">เรื่องย่อ</a> 
    <p>
        เป็นซีรีส์กวีนิพนธ์ที่ไม่ได้ตั้งอยู่ในสหรัฐอเมริกา เผยให้เห็นว่าเทคโนโลยีสมัยใหม่สามารถทำอะไรได้บ้างและนำมาใช้กับผู้สร้างได้อย่างไร ทุกตอนมีฉากอยู่ในความเป็นจริงที่แตกต่างกันเล็กน้อย 
        โดยมีตัวละครที่แตกต่างกันที่ต้องต่อสู้กับเทคโนโลยีประเภทต่างๆ
    </p>
    <a class="text">คะแนน 8.7/10</a><br>

    <h1 class="detail">8) 1899 (2022)</h1>
    <center><img src="{% static 'hello_world/picture/สยอง8.jpg' %}"></center><br>
    <a class="text">เรื่องย่อ</a> 
    <p>
        ค.ศ. 1899 เรือกลไฟอพยพมุ่งหน้าไปทางตะวันตกเพื่อออกจากทวีปเก่า ผู้โดยสารซึ่งเป็นกลุ่มเชื้อสายยุโรปผสมผสานกันด้วยความหวังและความฝันในศตวรรษใหม่และอนาคตในต่างประเทศ 
        แต่การเดินทางของพวกเขากลับพลิกผันอย่างไม่คาดคิด เมื่อพวกเขาค้นพบเรืออพยพอีกลำที่ลอยอยู่ในทะเลเปิด สิ่งที่พวกเขาพบบนเรือจะเปลี่ยนการเดินทางไปยังดินแดนแห่งพันธสัญญาให้กลายเป็นฝันร้ายที่น่าสยดสยอง
    </p>
    <a class="text">คะแนน 7.3/10</a><br>

    <h1 class="detail">9) มิดไนท์ แมส (Midnight Mass 2021)</h1>
    <center><img src="{% static 'hello_world/picture/สยอง9.jpg' %}"></center><br>
    <a class="text">เรื่องย่อ</a> 
    <p>
        เรื่องราวของชุมชนเกาะเล็กๆ ที่โดดเดี่ยว ซึ่งความแตกแยกที่มีอยู่ถูกขยายออกไปโดยการกลับมาของชายหนุ่มผู้น่าอับอายและการมาถึงของนักบวชผู้มีเสน่ห์ 
        เมื่อคุณพ่อพอลปรากฏตัวบนเกาะคร็อกเก็ตต์พร้อมกับเหตุการณ์ที่ดูเหมือนจะอัศจรรย์ที่ไม่สามารถอธิบายได้ ความกระตือรือร้นทางศาสนาครั้งใหม่เข้าครอบงำชุมชน แต่ปาฏิหาริย์เหล่านี้ย่อมมีราคาของมันเสมอ
    </p>
    <a class="text">คะแนน 7.7/10</a><br>

    <h1 class="detail">10) Dark (2017)</h1>
    <center><img src="{% static 'hello_world/picture/สยอง10.jpg' %}"></center><br>
    <a class="text">เรื่องย่อ</a> 
    <p>
        การผลิตครั้งแรกในเยอรมนีจากเครือข่ายทีวีอินเทอร์เน็ตชั้นนำของโลกเกิดขึ้นในเมืองเยอรมันในปัจจุบันที่การหายตัวไปของเด็กเล็กสองคนเผยให้เห็นชีวิตคู่และความสัมพันธ์ที่ร้าวฉานระหว่าง 4 ครอบครัว 
        ในตอนความยาว 10 ชั่วโมง เรื่องราวจะมีจุดหักมุมที่น่าประหลาดใจซึ่งเชื่อมโยงกับเมืองเดียวกันในปีช่วงปี 1986
    </p>
    <a class="text">คะแนน 8.7/10</a><br>
    <p>
    <a class="text">
        นี้คือท้ายที่สุดแล้ว 10 หนัง/ซีรี่ย์สยองขวัญที่ทางเราได้รวบรวมมา ซึ่งสำหรับใครที่ยังไม่ได้รับชมหนังเรื่องนี้ สามารถไปหาตามรับชมกันได้ หวังว่าคงจะถูกใจทุกท่านน่ะครับ
    </a>
    </p>
    </body>
</html>
