{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'hello_world/read.css' %}"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">    
        <title>10 หนังจิตวิปริต</title>
    </head>

    <body>
        <div class="topnav">
            <a class="active" href="http://127.0.0.1:8000/">Home</a>
            <a href="http://127.0.0.1:8000/info/">Info</a>
            <a href="http://127.0.0.1:8000/search/#">Category</a>
          </div>
        <h1 class="movie">10 หนังจิตวิปริต</h1><br>
    <a class="text">
        สวัสดีท่านผู้อ่านทุกท่าน  ยินดีต้อนรับเข้าสู่ 10 หนังจิตวิปริต ซึ่งสำหรับใครที่ชอบหนังแนวจิตวิปริต แล้วต้องการจะหาหนังดีๆสักเรื่องดู 
        ลองอ่านที่บทความนี้ดู แต่ถ้าหากท่านใดที่เคยดูจนหมดแล้ว ก็หวังว่าท่านอาจเห็นด้วยกับการแนะนำของเรา 
        โดยขอย้ำเตือนว่าการแนะนำในครั้งนี้เป็นมุมมองส่วนตัวของผู้เขียน ซึ่งอาจจะถูกใจหรือไม่ถูกใจท่านไหนทางผู้เขียนต้องกราบขออภัยทุกท่านมา ณ ที่นี้ด้วย 
        แต่ขอย้ำเตือนกันก่อนว่า หากใครที่ใจไม่เข้มแข็งพอให้ข้ามบทความนี้ไปได้เลย
        แต่หากใครที่ใจแข็ง และกล้าดูก็เชิญอ่านบทความได้ หากทุกท่านพร้อมแล้วที่จะอ่านการแนะนำของเรา เชิญทุกท่านเลื่อนลงไปอ่านที่ด้านล่างนี้ได้เลยครับ 
    </a>
    <h1 class="detail">1) นรกในบาร์ (Barda 2007)</h1>
    <center><img src="{% static 'hello_world/picture/วิปริต1.jpg' %}"></center><br>
    <a class="text">เรื่องย่อ</a> 
    <p>
        กลุ่มเพื่อนวัยรุ่นไฮโซอายุระหว่าง 18 ถึง 25 ปี มารวมตัวกันที่บาร์ของเพื่อนที่พวกเขาไปบ่อยๆ ในตอนกลางคืน แต่เมื่อพวกเขาดื่มเบียร์แก้วสุดท้ายเสร็จและเตรียมตัวกลับบ้าน 
        พวกเขาพบว่าตัวเองถูกคนแปลกหน้า 5 คนจับจ่อจำเป็นเชลย ถูกมัดและปิดปาก พวกเขาถูกจับทรมานต่างๆนานๆ
    </p>
    <a class="text">คะแนน 7/10</a><br>

    <h1 class="detail">2) ปักษาพยาบาท (The Nightingale 2018)</h1>
    <center><img src="{% static 'hello_world/picture/วิปริต2.jpg' %}"></center><br>
    <a class="text">เรื่องย่อ</a> 
    <p>
        เป็นเรื่องราวเกี่ยวกับความน่าสะพรึงกลัวของการล่าอาณานิคมของออสเตรเลีย ซึ่งมีเรื่องราวเกิดขึ้นในช่วงเปลี่ยนผ่านของศตวรรษที่ 19 ภาพยนตร์เรื่องนี้ติดตามแคลร์ ภรรยาและแม่ชาวไอริชโดยกำเนิดวัย 21 ปี ที่ถูกคุมขังเกินโทษจำคุก 7 ปีของเธอ โดยปรารถนาที่จะเป็นอิสระจากนายร้อยโทฮอว์กินส์ชาวอังกฤษผู้หมกมุ่นอยู่กับเธอ ไอดาน สามีของแคลร์เข้ามาแทรกแซงพร้อมกับผลที่ตามมาอันเลวร้ายสำหรับทุกคน เมื่อทางการอังกฤษล้มเหลวในการให้ความยุติธรรม แคลร์จึงไล่ตามฮอว์กินส์ ซึ่งออกจากตำแหน่งกะทันหันเพื่อรักษาตำแหน่งกัปตันทีมไว้ทางเหนือ เนื่องจากไม่คุ้นเคยกับถิ่นทุรกันดารแทสเมเนีย เธอจึงขอความช่วยเหลือจากบิลลี่ ผู้ติดตามชาวอะบอริจินกำพร้า ทั้งสองต่อสู้เพื่อเอาชนะความไม่ไว้วางใจและอคติต่อฉากหลังของ 'War Black' อันโด่งดังของออสเตรเลีย
    </p>
    <a class="text">คะแนน 7.3/10</a><br>

    <h1 class="detail">3) ฟิล์มวิปลาส (A Serbian Film 2010)</h1>
    <center><img src="{% static 'hello_world/picture/วิปริต3.jpg' %}"></center><br>
    <a class="text">เรื่องย่อ</a> 
    <p>
        ในเซอร์เบีย ดาราหนังโป๊ Milos เกษียณแล้วได้แต่งงานกับ Marija ภรรยาสุดที่รักของเขา และพวกเขามีลูกชายตัวน้อยชื่อ Peter นั่นคือความภาคภูมิใจและความสุขของพวกเขา ครอบครัวกำลังเผชิญกับปัญหาทางการเงิน แต่จู่ๆ มิลอสก็ได้รับการติดต่อจากนักแสดงหนังโป๊เลจลาที่เสนองานให้เขาในภาพยนตร์อาร์ต Milos ได้รับการแนะนำให้รู้จักกับผู้กำกับ Vukmir ซึ่งเสนอสัญญาเศรษฐีให้กับ Milos เพื่อแสดงในภาพยนตร์ อย่างไรก็ตาม Vukmir ไม่ได้แสดงบทภาพยนตร์หรือเล่าเรื่องให้ Milos ฟัง มิลอสหารือเกี่ยวกับข้อเสนอกับมาริฮา และเขาเซ็นสัญญา แต่ในไม่ช้า เขาก็พบว่าวูคเมียร์และทีมงานของเขาพัวพันกับภาพยนตร์เกี่ยวกับภาพอนาจาร การฆ่าคนตาย และการทรมาน และไม่มีทางหนีได้ และอาจสายเกินไปที่จะปกป้องครอบครัวของเขา

    </p>
    <a class="text">คะแนน 5/10</a><br>

    <h1 class="detail">4) ฮัน กง จู (Han Gong Ju 2013)</h1>
    <center><img src="{% static 'hello_world/picture/วิปริต4.jpg' %}"></center><br>
    <a class="text">เรื่องย่อ</a> 
    <p>
        ฮันกงจูถูกนำตัวไปที่บ้านในพื้นที่ที่ไม่คุ้นเคย บ้านนี้เป็นของแม่ของอดีตครูมัธยมปลายของเธอ ผู้เป็นแม่อยากรู้ว่าทำไมลูกชายของเธอถึงทิ้งฮันกงจูไว้ที่นั่น แม้ว่าเขาจะสัญญาว่าจะอยู่ที่นั่นเพียงสัปดาห์เดียวก็ตาม การสืบสวนยังคงดำเนินต่อไปในบ้านเกิดของฮันกงจูและฮันกงจูจะหลีกหนีจากอดีตของเธอได้หรือไม่?
    </p>
    <a class="text">คะแนน 7.2/10</a><br>

    <h1 class="detail">5) concrete (2004)</h1>
    <center><img src="{% static 'hello_world/picture/วิปริต5.jpg' %}"></center><br>
    <a class="text">เรื่องย่อ</a> 
    <p>
        เด็กสาวมัธยมปลายถูกแก๊งค์ลอร์ดลักพาตัวและถูกคุมขังเป็นเวลาหลายเดือน ในช่วงเวลานี้ เธอทุบตี ข่มขืน และทรมานซ้ำแล้วซ้ำเล่า
    </p>
    <a class="text">คะแนน 4.4/10</a><br>

    <h1 class="detail">6) จับคนมาทำตะขาบ (The Human Centipede 2009)</h1>
    <center><img src="{% static 'hello_world/picture/วิปริต6.jpg' %}"></center><br>
    <a class="text">เรื่องย่อ</a> 
    <p>
        สาวอเมริกันนิสัยดี 2 คนกำลังเดินทางท่องเที่ยวในเยอรมนี พวกเขาต้องอยู่ตามลำพังในตอนกลางคืนโดยมีรถพังอยู่ในป่า พวกเขาขอความช่วยเหลือและพบว่าวิลล่าอาศัยอยู่คนเดียวในป่า วันรุ่งขึ้น พวกเขาตื่นขึ้นมาและพบว่าตัวเองติดอยู่ในโรงพยาบาลใต้ดินที่น่าสะพรึงกลัวพร้อมกับชายชาวญี่ปุ่นคนหนึ่ง ชายสูงวัยชาวเยอรมันระบุตัวเองว่าเป็นศัลยแพทย์เกษียณอายุที่เชี่ยวชาญด้านการแยกแฝดสยาม อย่างไรก็ตาม "คนไข้" ทั้งสามของเขาไม่ได้กำลังจะถูกแยกจากกัน แต่กลับรวมตัวกันในการผ่าตัดอันน่าสยดสยอง เขาวางแผนที่จะเป็นคนแรกที่เชื่อมโยงผู้คนผ่านระบบกระเพาะอาหาร ด้วยการทำเช่นนั้น เขาวางแผนที่จะทำให้จินตนาการตลอดชีวิตที่ป่วยของเขาซึ่งก็คือตะขาบมนุษย์มีชีวิตขึ้นมา
    </p>
    <a class="text">คะแนน 4.4/10</a><br>

    <h1 class="detail">7) จับคนมาทำวอลรัส (Tusk 2014)</h1>
    <center><img src="{% static 'hello_world/picture/วิปริต7.jpg' %}"></center><br>
    <a class="text">เรื่องย่อ</a> 
    <p>
        เมื่อนักจัดรายการพอดแคสต์วอลเลซเดินทางไปแคนาดาเพื่อสัมภาษณ์ใครสักคน เขาได้พบกับชายแปลกหน้าชื่อฮาวซึ่งมีเรื่องราวมากมายจะเล่าเกี่ยวกับชีวิตในอดีตของเขาระหว่างการสัมภาษณ์ วอลเลซตื่นขึ้นมาในวันรุ่งขึ้นพบว่าฮาวไม่ใช่คนที่เขาคิดว่าเป็น ฮาวมีแผนจะเปลี่ยนวอลเลซให้กลายเป็นวอลรัสทั้งทางศัลยกรรมและจิตใจ
    </p>
    <a class="text">คะแนน 5.3/10</a><br>

    <h1 class="detail">8) The Sadness (2021)</h1>
    <center><img src="{% static 'hello_world/picture/วิปริต8.jpg' %}"></center><br>
    <a class="text">เรื่องย่อ</a> 
    <p>
        หลังจากต่อสู้กับโรคระบาดที่มีอาการไม่ร้ายแรงมาเป็นเวลาหนึ่งปี ในที่สุดประเทศที่ท้อแท้ก็ลดความระมัดระวังลง นี่คือช่วงที่ไวรัสกลายพันธุ์ตามธรรมชาติ ทำให้เกิดโรคระบาดที่เปลี่ยนแปลงจิตใจ ถนนเต็มไปด้วยความรุนแรงและความเลวทราม ในขณะที่ผู้ติดเชื้อถูกผลักดันให้ทำสิ่งที่โหดร้ายและน่าสยดสยองที่สุดที่พวกเขาจะจินตนาการได้ การฆาตกรรม การทรมาน การข่มขืน และการทำร้ายร่างกาย นี้เป็นเพียงจุดเริ่มต้นเท่านั้น คู่รักหนุ่มสาวถูกผลักดันให้ถึงขีดจำกัดของสุขภาพจิตขณะพยายามกลับมาพบกันอีกครั้งท่ามกลางความสับสนวุ่นวาย ยุคแห่งความสงบสุขไม่มีอีกแล้ว จะมีเพียงแต่ "ความทุกข์" เท่านั้น
    </p>
    <a class="text">คะแนน 6.4/10</a><br>

    <h1 class="detail">9) สุขนาฏกรรมอเวจี (SALO OR THE 120 DAYS OF SODOM 1975)</h1>
    <center><img src="{% static 'hello_world/picture/วิปริต9.jpg' %}"></center><br>
    <a class="text">เรื่องย่อ</a> 
    <p>
        ในอิตาลีตอนเหนือของนาซี-ฟาสซิสต์ในปี 1943-44 สมาชิกอาวุโสของรัฐบาล 4 คน ซึ่งได้รับความช่วยเหลือจากลูกน้องและทหารนาซี ได้ลักพาตัวชายหนุ่มและหญิงสาวกลุ่มหนึ่ง พวกเขากักขังพวกเขาไว้เป็นเวลา 120 วัน ทำให้พวกเขาต้องถูกทรมาน ความวิปริต และความเสื่อมโทรมทุกรูปแบบ
    </p>
    <a class="text">คะแนน 5.8/10</a><br>

    <h1 class="detail">10) เพราะรัก ต้องล้างแค้น (Revenge A Love Story 2010)</h1>
    <center><img src="{% static 'hello_world/picture/วิปริต10.jpg' %}"></center><br>
    <a class="text">เรื่องย่อ</a> 
    <p>
        คิทเป็นชายหนุ่มที่ถูกตำรวจตามล่าหลังจากการฆาตกรรมหลายครั้ง ความลึกลับคลี่คลายและเรื่องราวเกี่ยวกับการแก้แค้นก็เปิดเผยออกมา
    </p>
    <a class="text">คะแนน 6.7/10</a><br>
    <p>
    <a class="text">
        นี้คือท้ายที่สุดแล้ว 10 หนัง/ซีรี่ย์สยองขวัญที่ทางเราได้รวบรวมมา โดยต้องขอย้ำเตือนกันอีกสักครั้งว่า หากใครที่ใจไม่เข้มแข็งพอให้ข้ามไปได้เลย ซึ่งสำหรับใครที่ยังไม่ได้รับชมหนังเรื่องนี้ สามารถไปหาตามรับชมกันได้ หวังว่าคงจะถูกใจทุกท่านน่ะครับ
    </a>
    </p>
    </body>
</html>
